{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if object %}
        Editar Curso: "{{ object.title }}"
    {% else %}
        Crear un nuevo curso
    {% endif %}
{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/base.css' %}"> {% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Editar Curso: "{{ object.title }}"
        {% else %}
            Crear un nuevo curso
        {% endif %}
    </h1>
    <div class="module">
        <h2>Información del Curso</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Guardar Curso"></p>
        </form>
    </div>
{% endblock %}